
<footer class="footer">
  <section class="footer__container">
    <article>
      <h2 class="footer__title">Sobre</h2>
      
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptatem illo, vel necessitatibus maiores expedita. Libero amet itaque optio fugit unde quisquam, dignissimos laudantium aut officiis mollitia ipsum provident voluptatem.
      </p>
    </article>

    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
      </ul>
    </address>

  </section>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>